{% load static %}

<li>
    <article class="post">
      <a href="{% url 'my-cv' %}">
        <img src="{% static "portfolio/images/cv.png" %}" alt="My CV" />
        <div class="post__content">
          <h3>My Curriculum</h3>
          <p>
            Brief overview of my carrier
          </p>
        </div>
      </a>
    </article>
</li>

<li>
    <article class="post">
      <a href="{% url 'about-me' %}">
        <img src="{% static "portfolio/images/oskar_in_air.jpg" %}" alt="About me" />
        <div class="post__content">
          <h3>About me</h3>
          <p>
            Briefly about me
          </p>
        </div>
      </a>
    </article>
</li>

<li>
    <article class="post">
      <a href="{% url 'achievements' %}">
        <img src="{% static "portfolio/images/achievements.jpg" %}" alt="achievements" />
        <div class="post__content">
          <h3>My achievements</h3>
          <p>
            Brief overview of my achievements
          </p>
        </div>
      </a>
    </article>
</li>