{% extends "base.html" %}
{% load static %}

{% block page-title %}My Achievements{% endblock page-title%} 

{% block css_files %}
<link rel="stylesheet" href="{% static "portfolio/achiev.css" %}">
<link rel="stylesheet" href="{% static "portfolio/page-detail.css" %}">
{% endblock css_files %}

{% block content %}

    <section id="summary">
        <h2>My achievements</h2>
        <article>
            <img src="{% static 'portfolio/images/achievements.jpg' %}" alt="achievement">
            <address></address>
            <div>
                Last updated on <time>2020-05-01</time>
            </div>
        </article>
    </section>

    <main>
        <section id="latest">
            <ul>
              
                {% for achievement in achievements %}
                
                    {% include "portfolio/includes/post-achievements.html" %}

                {% endfor %}

            </ul>
          </section>
    </main>

{% endblock content %}