{% extends "base.html" %}
{% load static %}

{% block page-title %}SQL bootcamp{% endblock page-title%} 

{% block css_files %}
<link rel="stylesheet" href="{% static "portfolio/page-detail.css" %}">
{% endblock css_files %}

{% block content %}

    <section id="summary">
        <h2>Digital Career Institute course</h2>
        <article>
            <img src="{% static 'portfolio/images/dci_logo1.png' %}" alt="dci_logo">
            <address></address>
            <div>
                Last updated on <time>2023-03-21</time>
            </div>
        </article>
    </section>

    <main>
        <img src="{% static 'portfolio/images/work_in_progress.png' %}" alt="dci_certificate">

    </main>

{% endblock content %}