{% extends "base.html" %}
{% load static %}

{% block page-title %} {{ achievement.title }} {% endblock page-title%} 

{% block css_files %}
<link rel="stylesheet" href="{% static "portfolio/page-detail.css" %}">
{% endblock css_files %}

{% block content %}

    <section id="summary">
        <h2>{{ achievement.title }}</h2>
        <article>
            <img src="{% static 'portfolio/images/'|add:achievement.logo_name %}" alt="{{achievement.title}}">
            <address></address>
            <div>
                Accomplished on <time>{{achievement.date}}</time>
            </div>
        </article>
    </section>

    <main>
        <p>{{achievement.description}}</p>
        <img src="{% static 'portfolio/images/'|add:achievement.certificate_name %}" alt="{{achievement.title}}">

    </main>

{% endblock content %}