{% extends "base.html" %}
{% load static %}

{% block page-title %}My Curriculum Vitae{% endblock page-title%} 

{% block css_files %}
<link rel="stylesheet" href="{% static "portfolio/page-detail.css" %}">
{% endblock css_files %}

{% block content %}

    <section id="summary">
        <h2>Python 3 bootcamp</h2>
        <article>
            <img src="{% static 'portfolio/images/python_logo.jpg' %}" alt="python">
            <address></address>
            <div>
                Last updated on <time>2023-03-21</time>
            </div>
        </article>
    </section>

    <main>
        <p>Bla Bla Bla Python the best</p>
        <img src="{% static 'portfolio/images/python3.png' %}" alt="python_certificate">
    </main>

{% endblock content %}